/*
background purple: #540B51
background ivory: #F3EAE2
button blue: #4285F4
titles black: #191817
paragraph black: #000000
paragraph yellow: #ECB12F
links blue: #2E71A6
footer links grey: #454245
*/

body {
    padding: 0%;
    margin: 0;
}


nav {
background-color: #540B51;
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
}

header{
    background-image: url(../images/background-singup.png);
    background-size: cover;
    color: white;
    border: none;
    margin: 0px;
    padding: 0px;
    
}
nav div{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;

}
.nav-ul {
    width: 550px;
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: center;

}
.nav-ul li{

    border: none;
    list-style: none;
    display: flex;
}

.nav-ul li a {

    text-decoration: none;
    color: white;
    /* font-family:  */
}

.nav-ul-right {
    border: none;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    
}

.nav-ul-right li a{
    text-decoration: none;
    color: white;

}

.search-icon {
    background-color: #540B51;
    border: none;    
  }

#try{
    color: #540B51;
    background-color: white;
    border-radius: 5px;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-right: 20px;
    margin-left: 40px;
}
h1{
    margin: 0px;
    font-size: 70px;
    max-width: 400px;
    overflow-wrap: break-word;
    text-align: left;
    padding: 40px;
}

.sign-up-button button{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 10px 40px;
    box-sizing: border-box;
    width: 200px;
    height: 40px;
    
    
  
.sign-up-button:first-child{
    
}
}
#logo {
    width: 200px;
    height: 50px;
    float: left;
    margin: 20px;
}
.google-signup{
    display: flex;
    background-color: rgb(27, 150, 211);
}
.google-signup img{
    width: 20px;
    height: 20px;
    
}


.slack-app {
width: 50%;
margin-left: 50%;
margin-bottom: 10%;
padding: 0;
}

section{
    margin: 0;
}
.companies{
    
    background-color: bisque;
    color: black;
    text-align: center;
    
}
.photos{

    display: flex;
    justify-content: space-around;
    
    
}

.photos img{
    width: 70px;
    height: 70px; 
    margin-bottom: 10px;
}
.photos img:nth-child(1){
    width: 100px;
    height: 60px; 
}
.photos img:nth-child(5){
    width: 160px;
    height: 60px; 
}
.photos img:nth-child(6){
    width: 140px;
    height: 60px; 
}
/**************SMALL SCREENS***********/
@media screen and (min-width: 768px) and (max-width: 1024px){

}













/**************MEDIUM SCREENS***********/
@media screen and (min-width: 1024px) and (max-width: 1440px){

}












/**************LARGE SCREENS***********/
@media screen and (min-width: 1440px) {

}

